<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TAM UI</title>
    </head>
    <body>
        <h1>TAM UI</h1>
        <hr>
        <!-- <%= files %> -->
        <h2>TA Images</h2>
        <table>
            <tr>
                <th>FileName</th>
                <th>Download</th>
                <th>Delete</th>
            </tr>
            <% files.forEach(function(value) { %>
                <tr>
                    <td><%= value %></td>
                    <td><a href="<%= fullURL+'/TAs/'+value %>">Get</a></td>
                    <td><a href="<%= fullURL+'/panel/delete?taname='+value %>">Delete</a></td>
                </tr>
            <% }); %>
            <!--
            <tr>
                <td>AAA</td>
                <td>Link</td>
                <td>Delete</td>
            </tr>
            -->
        </table>
        <h2>Upload Image</h2>
        <div>
            <form action="<%= fullURL+'/panel/' %>/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="file">
                <button type="submit">Upload</button>
            </form>
        </div>
    </body>
</html>